<div class="post hentry">
  <h5 class="postDate"><span>{{ post.date | format_date }}</span></h5>
  <div class="postContent">
    <h3 class="entry-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h3>
    
    <div class="entry-content">
      <p>{{ post.description | description_break }}</p>
      <a href="{{ post.url }}">Continue reading&hellip;</a>
    </div>
  </div>
<!--
  <div class="postMeta">
    <div class="comments">
      <a href="http://johnkary.net/git-add-p-the-most-powerful-git-feature-youre-not-using-yet/#comments" title="Comment on git add -p: The most powerful git feature you&#8217;re not using yet">29 comments</a>
    </div>
  </div>
-->
</div>