<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="description" content="John Kary is a web application developer from Lawrence, KS using PHP, Symfony and jQuery." />
   <meta name="keywords" content="John Kary, web application developer, freelance, PHP, Symfony, jQuery, University of Kansas" />

   <link type="text/plain" rel="author" href="http://johnkary.net/humans.txt" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax/perldoc-custom.css" type="text/css" media="all" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div style="text-align:center">
    <h1 class="vcard author"><a href="http://johnkary.net/" title="Home">John Kary</a></h1>
  </div>
  <div class="main-nav">
    <a href="/about/">About</a>
    <a href="/talks/">Talks</a>
    <a href="/contact/">Contact</a>
  </div>
  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>john at johnkary dot net</p>
    </div>
    <div class="contact">
      <a href="http://github.com/johnkary" title="GitHub"><div class="icon icon-github"></div></a>
      <a href="http://twitter.com/johnkary" title="Twitter"><div class="icon icon-twitter"></div></a>
      <a href="http://www.linkedin.com/pub/john-kary/6/1bb/b09" title="LinkedIn"><div class="icon icon-linkedin"></div></a>
      <a href="http://youtube.com/user/johnkarydotnet" title="YouTube"><div class="icon icon-youtube"></div></a>
      <a href="https://vimeo.com/johnkary" title="Vimeo"><div class="icon icon-vimeo"></div></a>
      <a href="http://www.readernaut.com/johnkary" title="Readernaut"><div class="icon icon-readernaut"></div></a>
      <a href="/atom.xml" title="RSS Feed"><div class="icon icon-rss"></div></a>
      <div id="license"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><div class="icon-copyright" title="Creative Commons License"></div></a></div>
    </div>
    <div class="rss">
    </div>
  </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
//var pageTracker = _gat._getTracker("UA-11728584-1");
//pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
