<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>{{ page.title }}</title>
   <meta name="description" content="John Kary is a web application development consultant based in Lawrence, KS using PHP, Symfony and JavaScript.">
   <meta name="keywords" content="John Kary, web application developer, freelance, consultant, PHP, Symfony, jQuery, University of Kansas">
   <link rel="alternate" type="application/atom+xml" title="John Kary Atom Feed" href="http://johnkary.net/atom.xml">

   <link type="text/plain" rel="author" href="http://johnkary.net/humans.txt">

   <link rel="stylesheet" href="/css/highlight.css" type="text/css" media="all">
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
</head>
<body>

<div class="site">
  <div style="text-align:center">
    <h1 class="vcard author"><a href="/" title="Home">John Kary</a></h1>
  </div>
  <div class="main-nav">
    <a href="/about/">About</a>
    <a href="/talks/">Talks</a>
    <a href="/contact/">Contact</a>
  </div>
  {{ content }}

  <div class="footer">
    <div class="contact">
      <div class="icon-email">john at johnkary dot net</div>
      <div><a href="http://twitter.com/johnkary">@johnkary on Twitter</a></div>
      <div><a href="/license/">Site License</a></div>
    </div>
    <div class="badges">
      <a href="http://github.com/johnkary" title="GitHub"><div class="icon icon-github"></div></a>
      <a href="http://twitter.com/johnkary" title="Twitter"><div class="icon icon-twitter"></div></a>
      <a href="http://www.linkedin.com/pub/john-kary/6/1bb/b09" title="LinkedIn"><div class="icon icon-linkedin"></div></a>
      <a href="http://youtube.com/user/johnkarydotnet" title="YouTube"><div class="icon icon-youtube"></div></a>
      <a href="https://vimeo.com/johnkary" title="Vimeo"><div class="icon icon-vimeo"></div></a>
      <a href="http://www.readernaut.com/johnkary" title="Readernaut"><div class="icon icon-readernaut"></div></a>
      <a href="/rss.xml" title="RSS Feed"><div class="icon icon-rss"></div></a>
    </div>
  </div>
</div>

<script>
    var ua = 'UA-11728584-1';
    var ua = '';
    var _gaq=[['_setAccount',ua],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
